credentials:
  system:
    domainCredentials:
    - credentials:
{% for credential in lookup('dict', input_role_jenkins_credentials) %}
      - {{ credential.value.type }}:
          description: "{{ credential.value.description }}"
          id: "{{ credential.key }}"
{% if credential.value.scope is defined and credential.value.scope != "" %}
          scope: "{{ credential.value.scope }}"
{% else %}
          scope: "GLOBAL"
{% endif %}
{% if credential.value.secret is defined and credential.value.secret != "" %}
          secret: "{{ credential.value.secret }}"
{% endif %}
{% if credential.value.username is defined and credential.value.username != "" %}
          username: "{{ credential.value.username }}"
{% endif %}
{% if credential.value.password is defined and credential.value.password != "" %}
          password: "{{ credential.value.password }}"
{% endif %}
{% if credential.value.passphrase is defined and credential.value.passphrase != "" %}
          passphrase: "{{ credential.value.passphrase }}"
{% endif %}
{% if credential.value.privateKey is defined and credential.value.privateKey != "" %}
          privateKeySource:
            directEntry:
              privateKey: |
{{ credential.value.privateKey | indent( width=16,indentfirst=True) -}}
{% endif %}
{% if credential.value.apiToken is defined and credential.value.apiToken != "" %}
          apiToken: "{{ credential.value.apiToken }}"
{% endif %}
{% endfor %}
{% include ["jenkins/part/credentials_slaves_linux.j2"] -%}