{% for jenkins_slave_linux_host in input_role_jenkins_list_linux_slaves %}
{% for number in range(1, input_role_jenkins_slave_hostvars[jenkins_slave_linux_host]['inventory_group_jenkins_slave_app_configuration']['workers']+1,1) %}
      - basicSSHUserPrivateKey:
          description: "SSH Private kedy for {{jenkins_slave_linux_host}}_slave_{{ number }}"
          id: "{{jenkins_slave_linux_host}}_slave_{{ number }}"
          scope: "GLOBAL"
          username: "jenkins_{{ number }}"
          passphrase: ""
          privateKeySource:
            directEntry:
              privateKey: |
{{ input_role_jenkins_ssh_key.private_ssh_key | indent( width=16,indentfirst=True) -}}
{% endfor %}
{% endfor %}