{%- include ["jenkins/part/credentials.yaml.j2"] %}
{%- include ["jenkins/part/jenkins.yaml.j2"] %}
{%- include ["jenkins/part/security.yaml.j2"] %}
{%- include ["jenkins/part/unclassified.yaml.j2"] %}

